html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.cdnfonts.com/css/general-sans?styles=135312,135310,135313,135303")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            section
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs", style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark", style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none", href="#")
                                img(class="img-fluid", src="flaro-assets/logos/flaro-logo-black.svg", alt="")
                            a(class="navbar-close", href="#")
                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        div(class="py-16")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Features
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Solutions
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Resources
                                li(class="nav-item")
                                    a(class="nav-link text-dark", href="#") Pricing
                        div
                            a(class="btn w-100 fw-medium", href="#") Login
                            a(class="btn w-100 btn-primary", href="#") Sign in
            section
                nav(class="navbar navbar-expand-lg navbar-light bg-light")
                    div(class="container")
                        a(class="navbar-brand", href="index.html")
                            img(class="img-fluid", src="images/MedMagnetSimple-png-1687106501979.webp", alt="")
                        div(class="collapse navbar-collapse me-5 justify-content-end nav-link")
                            ul(class="navbar-nav")
                                li(class="nav-item")
                                    a(class="nav-link", href="solutions.html") Solutions
                                li(class="nav-item")
                                    a(class="nav-link", href="careers.html") Careers
                                li(class="nav-item")
                                    a(class="nav-link", href="aboutus.html") About Us
                                li(class="nav-item")               
                        div(class="d-lg-none")
                            button(class="btn navbar-burger p-0")
                                svg(class="text-primary", width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(width="56", height="56", rx="28", fill="currentColor")
                                    path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs", style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark", style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none", href="#")
                                img(class="img-fluid", src="flaro-assets/logos/flaro-logo-black.svg", alt="")
                            a(class="navbar-close", href="#")
                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        div(class="py-16")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Features
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Solutions
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Resources
                                li(class="nav-item")
                                    a(class="nav-link text-dark", href="#") Pricing
                        div
                            a(class="btn w-100 fw-medium", href="#") Login
                            a(class="btn w-100 btn-primary", href="#") Sign in
            section(class="position-relative pb-16 overflow-hidden")
                div(class="px-4 px-sm-10 mb-16")
                    div(class="position-relative pb-72 pb-sm-96 pt-24 pb-lg-24 rounded bg-primary-light bg-opacity-50 overflow-hidden")
                        div(class="container position-relative")
                            div(class="mw-md mw-md-2xl mw-lg-3xl mx-auto mx-lg-0")
                                h1(class="h2 mb-8") Welcome
                                p(class="mw-md mb-10 fs-7") Attracting Your Success, One Step at a Time
                                a(class="btn mb-5 btn-primary", href="contact.html") Contact us 
                                div(class="d-flex align-items-center")
                                    span(class="fs-9 text-secondary") Free Consultation
                                    span(class="d-inline-block mx-2 mx-sm-6 ps-1 pt-1 bg-secondary rounded-pill")
                                    span(class="fs-9 text-secondary") Quick Resposes
                div(class="container")
                    div(class="mw-6xl mx-auto")             
                    |           
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs", style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark", style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none", href="#")
                                img(class="img-fluid", src="flaro-assets/logos/flaro-logo-black.svg", alt="")
                            a(class="navbar-close", href="#")
                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        div(class="py-16")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Features
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Solutions
                                li(class="nav-item mb-8")
                                    a(class="nav-link text-dark", href="#") Resources
                                li(class="nav-item")
                                    a(class="nav-link text-dark", href="#") Pricing
                        div
                            a(class="btn w-100 fw-medium", href="#") Login
                            a(class="btn w-100 btn-primary", href="#") Sign in
            section(class="py-12 py-sm-24 bg-info-light")
                div(class="container")
                    div(class="mw-xs px-md-0 mw-md-md mw-lg-2xl mx-auto mb-14")
                        div(class="row align-items-center justify-content-center")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="images/masalalogo.jpg", alt="")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="images/pionmed.png", alt="")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="flaro-assets/logos/brands/logo-square-white3.png", alt="")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="flaro-assets/logos/brands/logo-square-white4.png", alt="")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="flaro-assets/logos/brands/logo-square-white5.png", alt="")
                            div(class="col-4 col-lg-2")
                                img(class="img-fluid d-block mx-auto", src="flaro-assets/logos/brands/logo-square-white6.png", alt="")
                    div(class="mw-2xl mx-auto text-center")
                        h2(class="mb-6") Loved by the incredible community
                        p(class="mw-lg mx-auto fs-7 text-secondary mb-0") Just a taste of a few of our clients
            section(class="py-20 py-md-32 bg-primary")
                div(class="container")
                    div(class="mw-2xl mb-32")
                        h1(class="h2 text-white mb-8") Let us help your business
                        div(class="mw-xl opacity-50")               
                        |             
                    div(class="row")
                        div(class="col-12 col-md-6 mb-8 mb-md-0")
                            div(class="d-flex px-8 py-6 bg-white rounded")
                                span
                                    svg(width="28", height="28", viewbox="0 0 28 28", fill="none", xmlns="http://www.w3.org/2000/svg")
                                div(class="ps-4 ps-md-8 mw-lg")
                                    h5(class="mb-3") Free Consulation
                                    p(class="text-secondary") Unlock the transformative power of knowledge with a complimentary consultation from MedMagnet. Our team of seasoned experts will delve into your business goals, challenges, and aspirations, providing tailored strategies to drive growth and success. Leverage our expertise to uncover untapped potential, unleash innovation, and receive ongoing support for seamless implementation. This exclusive opportunity requires no cost or obligation, reflecting our belief that knowledge should be accessible to all. 
                        div(class="col-12 col-md-6")
                            div(class="d-flex px-8 py-6 bg-white rounded")
                                span
                                    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke-width="2", stroke="currentColor", aria-hidden="true", class="")
                                        path(stroke-linecap="round", stroke-linejoin="round", d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z")
                                div(class="ps-4 ps-md-8 mw-lg")
                                    h5(class="mb-3") Your Choice
                                    p(class="text-secondary") This exclusive opportunity requires no cost or obligation, reflecting our belief that knowledge should be accessible to all. It's your choice whether to tweak our recommendations, embrace the proposed plan, or simply not continue – we respect your autonomy and decision-making. Schedule your free consultation today and embark on a transformative journey towards sustained business success. 
            section(class="pt-24 pb-32 pb-md-52")
                div(class="container")
                    h1(class="text-center h2 mb-20") Our Connected Process
                    div(class="mw-7xl mx-auto")
                        div(class="row mb-n24")
                            div(class="col-12 col-xl-4 mb-24")
                                div(class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4")
                                    h6(class="fs-6 mb-3") Free Consultation
                                    p(class="text-secondary") Start off your Marketing Strategy with our laid out game plan on how to grow your outreach.
                                    div(class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10")
                                        img(class="d-block w-100", src="flaro-assets/images/features/peoples.png", alt="")
                            div(class="col-12 col-xl-4 mb-24")
                                div(class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4")
                                    h6(class="fs-6 mb-3") Weekly Reports
                                    p(class="text-secondary") Once you have your strategy, our team will execute and give you our weekly plans.
                                    div(class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10")
                                        img(class="d-block w-100", src="flaro-assets/images/features/reports.png", alt="")
                            div(class="col-12 col-xl-4 mb-24")
                                div(class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4")
                                    h6(class="fs-6 mb-3") Active Results
                                    p(class="text-secondary") Once executed, our team will track the analytics and give you a comprehensive report.
                                    div(class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10")
                                        img(class="d-block w-100", src="flaro-assets/images/features/users.png", alt="")
            section(class="py-12 py-sm-24 py-md-32 bg-info-light position-relative overflow-hidden")
                div(class="container position-relative")
                    div(class="mw-6xl mx-auto")
                        div(class="row align-items-center")
                            div(class="col-12 col-lg-6 mb-16")
                                div(class="mw-md mx-auto")
                                    span(class="fs-9 text-primary text-uppercase") Contact us
                                    h2(class="mt-6 mb-24") Get connected to grow better business.
                                    div(class="mb-14")
                                        span(class="d-block mb-4 fs-9 text-secondary-light text-uppercase") Email
                                        div
                                            a(class="btn btn-link fs-6 text-dark fw-semibold p-0", href="mailto:#") inquiries@medmagnet.org
                                        div
                                    div
                                        span(class="d-block mb-4 fs-9 text-secondary-light text-uppercase") Phone
                                        span(class="d-block fs-6 fw-semibold") +1 708 548 0054
                            div(class="col-12 col-lg-6 position-relative")
                                img(class="position-absolute top-0 start-0 w-100", src="flaro-assets/images/contact/gradient2.svg", alt="")
                                div(class="mw-md mx-auto mw-lg-lg me-lg-0 pt-8 pb-12 px-6 px-md-10 bg-white bg-opacity-75 rounded-4 shadow-lg position-relative")
                                    form(action="")
                                        label(class="form-label fw-light") Name
                                        div(class="input-group mb-4")
                                            span(class="input-group-text bg-transparent")
                                                svg(width="14", height="18", viewbox="0 0 14 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M10.3327 4.83358C10.3327 6.67453 8.8403 8.16691 6.99935 8.16691C5.1584 8.16691 3.66602 6.67453 3.66602 4.83358C3.66602 2.99263 5.1584 1.50024 6.99935 1.50024C8.8403 1.50024 10.3327 2.99263 10.3327 4.83358Z", stroke="#9CA3AF", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    path(d="M6.99935 10.6669C3.77769 10.6669 1.16602 13.2786 1.16602 16.5002H12.8327C12.8327 13.2786 10.221 10.6669 6.99935 10.6669Z", stroke="#9CA3AF", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                            input(class="form-control", type="text", placeholder="First & last name")
                                        label(class="form-label fw-light") Email Address
                                        div(class="input-group mb-4")
                                            span(class="input-group-text bg-transparent")
                                                svg(width="18", height="14", viewbox="0 0 18 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M1.5 3.66691L8.0755 8.05057C8.63533 8.4238 9.36467 8.4238 9.9245 8.05057L16.5 3.66691M3.16667 12.8336H14.8333C15.7538 12.8336 16.5 12.0874 16.5 11.1669V2.83357C16.5 1.9131 15.7538 1.16691 14.8333 1.16691H3.16667C2.24619 1.16691 1.5 1.9131 1.5 2.83357V11.1669C1.5 12.0874 2.24619 12.8336 3.16667 12.8336Z", stroke="#9CA3AF", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                            input(class="form-control", type="text", placeholder="Email address")
                                        label(class="form-label fw-light") Message
                                        div(class="position-relative")
                                            span(class="position-absolute top-0 start-0 mt-2 ms-4")
                                                svg(width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M15.8898 2.11044L16.4201 1.58011L16.4201 1.58011L15.8898 2.11044ZM4.41667 16.5298V17.2798C4.61558 17.2798 4.80634 17.2008 4.947 17.0601L4.41667 16.5298ZM1.5 16.5298H0.75C0.75 16.944 1.08579 17.2798 1.5 17.2798L1.5 16.5298ZM1.5 13.5539L0.96967 13.0236C0.829018 13.1642 0.75 13.355 0.75 13.5539H1.5ZM13.4738 2.64077C13.9945 2.12007 14.8387 2.12007 15.3594 2.64077L16.4201 1.58011C15.3136 0.473623 13.5196 0.473623 12.4132 1.58011L13.4738 2.64077ZM15.3594 2.64077C15.8801 3.16147 15.8801 4.00569 15.3594 4.52639L16.4201 5.58705C17.5266 4.48056 17.5266 2.68659 16.4201 1.58011L15.3594 2.64077ZM15.3594 4.52639L3.88634 15.9995L4.947 17.0601L16.4201 5.58705L15.3594 4.52639ZM4.41667 15.7798H1.5V17.2798H4.41667V15.7798ZM12.4132 1.58011L0.96967 13.0236L2.03033 14.0843L13.4738 2.64077L12.4132 1.58011ZM0.75 13.5539V16.5298H2.25V13.5539H0.75ZM11.1632 3.89077L14.1094 6.83705L15.1701 5.77639L12.2238 2.83011L11.1632 3.89077Z", fill="#9CA3AF")
                                        textarea(class="ps-12 mb-6 form-control", style="height: 187px; resize: none;", placeholder="Write message")
                                        a(class="btn btn-primary shadow", href="#") Send Message
            section(class="py-16 position-relative overflow-hidden")
                div(class="container position-relative")
                    div(class="d-none d-md-inline-flex flex-wrap position-absolute top-50 start-50 translate-middle justify-content-center", style="z-index: 10;")
                        div(class="p-4")
                            a(class="btn p-0 btn-link text-secondary", href="solutions.html") Solutions
                        div(class="p-4")
                            a(class="btn p-0 btn-link text-secondary", href="careers.html") Careers
                        div(class="p-4")
                            a(class="btn p-0 btn-link text-secondary", href="aboutus.html") About Us
                        div(class="p-4")
                            a(class="btn p-0 btn-link text-secondary", href="contact.html") Contact Us
                    div(class="position-relative row justify-content-between align-items-center")
                        div(class="col-auto")
                            a(class="d-inline-block", href="#")
                                img(src="images/MedMagnetSimple-png-1687109825210.webp", alt="")
                        div(class="col-auto")
                            div(class="d-flex align-items-center")
                                a(class="btn p-0 btn-outline-secondary-dark d-inline-flex align-items-center justify-content-center me-2 rounded-pill", href="#", style="width: 35px; height: 35px;")
                                    svg(width="8", height="14", viewbox="0 0 8 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M5.55736 5.2L5.55736 3.88C5.55736 3.308 5.69631 3 6.66894 3H7.87315V0.800003L6.02052 0.800003C3.70473 0.800003 2.77841 2.252 2.77841 3.88V5.2H0.925781L0.925781 7.4H2.77841L2.77841 14H5.55736L5.55736 7.4H7.59526L7.87315 5.2H5.55736Z", fill="#27272A")
                                a(class="btn p-0 btn-outline-secondary-dark d-inline-flex align-items-center justify-content-center me-2 rounded-pill", href="#", style="width: 35px; height: 35px;")
                                    svg(width="14", height="11", viewbox="0 0 14 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M13.6655 1.39641C13.1901 1.60149 12.6728 1.74907 12.1399 1.80656C12.6931 1.47788 13.1074 0.958619 13.3051 0.346204C12.7859 0.655036 12.2172 0.871595 11.6241 0.986274C11.3762 0.721276 11.0764 0.510168 10.7434 0.366102C10.4104 0.222036 10.0512 0.1481 9.68836 0.148902C8.22024 0.148902 7.03953 1.33893 7.03953 2.79928C7.03953 3.00436 7.06439 3.20943 7.10478 3.40673C4.90649 3.29177 2.94589 2.24155 1.64246 0.633614C1.40495 1.03927 1.2805 1.50117 1.28203 1.97123C1.28203 2.89094 1.74965 3.70191 2.46274 4.17885C2.0425 4.1623 1.63211 4.0468 1.26494 3.84173V3.87435C1.26494 5.16226 2.17533 6.22956 3.38866 6.47502C3.16084 6.5342 2.92649 6.56447 2.69111 6.56513C2.51866 6.56513 2.35554 6.54804 2.19086 6.52474C2.52643 7.57495 3.50362 8.33775 4.66724 8.3626C3.75685 9.07569 2.61654 9.49515 1.37835 9.49515C1.15619 9.49515 0.951119 9.48738 0.738281 9.46253C1.91278 10.216 3.30632 10.651 4.80706 10.651C9.67904 10.651 12.345 6.61484 12.345 3.11155C12.345 2.99659 12.345 2.88162 12.3372 2.76666C12.853 2.38914 13.3051 1.92152 13.6655 1.39641Z", fill="#27272A")
                                a(class="btn p-0 btn-outline-secondary-dark d-inline-flex align-items-center justify-content-center rounded-pill", href="https://www.instagram.com/med.magnet/", style="width: 35px; height: 35px;")
                                    svg(width="16", height="15", viewbox="0 0 16 15", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M8.00094 0.360001C6.09046 0.360001 5.85022 0.368801 5.09958 0.402241C4.34894 0.437441 3.83766 0.555361 3.38974 0.729601C2.9199 0.906321 2.49433 1.18353 2.14278 1.54184C1.78468 1.89357 1.50751 2.31909 1.33054 2.7888C1.1563 3.23584 1.0375 3.748 1.00318 4.496C0.969738 5.2484 0.960937 5.48776 0.960937 7.40088C0.960937 9.31224 0.969738 9.5516 1.00318 10.3022C1.03838 11.052 1.1563 11.5633 1.33054 12.0112C1.51094 12.4741 1.75118 12.8666 2.14278 13.2582C2.5335 13.6498 2.92598 13.8909 3.38886 14.0704C3.83766 14.2446 4.34806 14.3634 5.09782 14.3978C5.84934 14.4312 6.0887 14.44 8.00094 14.44C9.91318 14.44 10.1517 14.4312 10.9032 14.3978C11.6521 14.3626 12.1651 14.2446 12.613 14.0704C13.0826 13.8936 13.5078 13.6164 13.8591 13.2582C14.2507 12.8666 14.4909 12.4741 14.6713 12.0112C14.8447 11.5633 14.9635 11.052 14.9987 10.3022C15.0321 9.5516 15.0409 9.31224 15.0409 7.4C15.0409 5.48776 15.0321 5.2484 14.9987 4.49688C14.9635 3.748 14.8447 3.23584 14.6713 2.7888C14.4944 2.31908 14.2172 1.89356 13.8591 1.54184C13.5077 1.1834 13.0821 0.906169 12.6121 0.729601C12.1633 0.555361 11.6512 0.436561 10.9023 0.402241C10.1508 0.368801 9.9123 0.360001 7.99918 0.360001H8.00182H8.00094ZM7.36998 1.62896H8.00182C9.8815 1.62896 10.1041 1.63512 10.846 1.66944C11.5324 1.70024 11.9055 1.81552 12.1537 1.91144C12.4819 2.03904 12.7169 2.19216 12.9633 2.43856C13.2097 2.68496 13.3619 2.91904 13.4895 3.24816C13.5863 3.49544 13.7007 3.86856 13.7315 4.55496C13.7658 5.2968 13.7729 5.51944 13.7729 7.39824C13.7729 9.27704 13.7658 9.50056 13.7315 10.2424C13.7007 10.9288 13.5854 11.301 13.4895 11.5492C13.3766 11.8549 13.1965 12.1313 12.9624 12.3579C12.716 12.6043 12.4819 12.7566 12.1528 12.8842C11.9064 12.981 11.5333 13.0954 10.846 13.127C10.1041 13.1605 9.8815 13.1684 8.00182 13.1684C6.12214 13.1684 5.89862 13.1605 5.15678 13.127C4.47038 13.0954 4.09814 12.981 3.84998 12.8842C3.54418 12.7715 3.26753 12.5916 3.04038 12.3579C2.80608 12.1309 2.62565 11.8543 2.51238 11.5483C2.41646 11.301 2.30118 10.9279 2.27038 10.2415C2.23694 9.49968 2.2299 9.27704 2.2299 7.39648C2.2299 5.5168 2.23694 5.29504 2.27038 4.5532C2.30206 3.8668 2.41646 3.49368 2.51326 3.24552C2.64086 2.91728 2.79398 2.68232 3.04038 2.43592C3.28678 2.18952 3.52086 2.03728 3.84998 1.90968C4.09814 1.81288 4.47038 1.69848 5.15678 1.6668C5.80622 1.63688 6.0579 1.62808 7.36998 1.6272V1.62896ZM11.7594 2.7976C11.6485 2.7976 11.5386 2.81945 11.4361 2.86191C11.3336 2.90436 11.2405 2.96659 11.1621 3.04504C11.0836 3.12348 11.0214 3.21661 10.9789 3.31911C10.9365 3.42161 10.9146 3.53146 10.9146 3.6424C10.9146 3.75334 10.9365 3.8632 10.9789 3.96569C11.0214 4.06819 11.0836 4.16132 11.1621 4.23976C11.2405 4.31821 11.3336 4.38044 11.4361 4.42289C11.5386 4.46535 11.6485 4.4872 11.7594 4.4872C11.9835 4.4872 12.1984 4.3982 12.3568 4.23976C12.5152 4.08133 12.6042 3.86646 12.6042 3.6424C12.6042 3.41835 12.5152 3.20347 12.3568 3.04504C12.1984 2.88661 11.9835 2.7976 11.7594 2.7976ZM8.00182 3.78496C7.52228 3.77748 7.04604 3.86547 6.60084 4.0438C6.15563 4.22214 5.75035 4.48726 5.40859 4.82373C5.06683 5.1602 4.79542 5.5613 4.61016 6.00367C4.4249 6.44604 4.32949 6.92084 4.32949 7.40044C4.32949 7.88004 4.4249 8.35484 4.61016 8.79721C4.79542 9.23958 5.06683 9.64068 5.40859 9.97715C5.75035 10.3136 6.15563 10.5787 6.60084 10.7571C7.04604 10.9354 7.52228 11.0234 8.00182 11.0159C8.95093 11.0011 9.85616 10.6137 10.5221 9.93726C11.1881 9.26084 11.5613 8.34967 11.5613 7.40044C11.5613 6.45121 11.1881 5.54004 10.5221 4.86362C9.85616 4.1872 8.95093 3.79977 8.00182 3.78496ZM8.00182 5.05304C8.62427 5.05304 9.22123 5.30031 9.66137 5.74045C10.1015 6.18059 10.3488 6.77755 10.3488 7.4C10.3488 8.02245 10.1015 8.61941 9.66137 9.05955C9.22123 9.49969 8.62427 9.74696 8.00182 9.74696C7.37937 9.74696 6.78241 9.49969 6.34227 9.05955C5.90213 8.61941 5.65486 8.02245 5.65486 7.4C5.65486 6.77755 5.90213 6.18059 6.34227 5.74045C6.78241 5.30031 7.37937 5.05304 8.00182 5.05304Z", fill="#27272A")
                        div(class="col-12 d-md-none mt-10")
                            div(class="d-flex flex-wrap mb-n4 justify-content-center")
                                div(class="p-4")
                                    a(class="btn p-0 btn-link text-secondary", href="#") About
                                div(class="p-4")
                                    a(class="btn p-0 btn-link text-secondary", href="#") Leadership
                                div(class="p-4")
                                    a(class="btn p-0 btn-link text-secondary", href="#") Press/News
                                div(class="p-4")
                                    a(class="btn p-0 btn-link text-secondary", href="#") Careers/Team
                                div(class="p-4")
                                    a(class="btn p-0 btn-link text-secondary", href="#") Contact Us
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
